<html>
   <body>
   
      <form name = "form" enctype = "multipart/form-data" 
         action = "{% url 'savenewprofile' %}" method = "POST" >{% csrf_token %}
         
         <div style = "max-width:470px;">
		    <label class="col-sm-2 col-form-label">Candidate Name:</label>
            <center>  
               <input type = "text" style = "margin-left:20%;" 
               placeholder = "Candidate Name" name = "candidate_name" />
            </center>
         </div>
			
         <br>
         
         <div style = "max-width:470px;">
		    <label class="col-sm-2 col-form-label">EMail:</label>
            <center> 
               <input type = "text" style = "margin-left:20%;" 
                  placeholder = "EMail" name = "candidate_mail" />
            </center>
         </div>
			
         <br>

         <div style = "max-width:470px;">
		    <label class="col-sm-2 col-form-label">File to Upload:</label>
            <center> 
               <input type = "file" style = "margin-left:20%;" 
                  placeholder = "resume" name = "resume_file" />
            </center>
         </div>
			
         <br>
		 
         <div style = "max-width:470px;">
            <center> 
               <input type = "date" style = "margin-left:20%;" 
                  placeholder = "{% now '%Y-%m-%d' %}" name = "resume_date" value="{% now '%Y-%m-%d' %}" />
            </center>
         </div>
			
         <br>		 

         <div style = "max-width:470px;">
            <center> 
               <input type = "text" style = "margin-left:20%;" 
                  placeholder = "resume status" name = "resume_status" value="Applied"/>
            </center>
         </div>
			
         <br>		 
         
         <div style = "max-width:470px;">
            <center> 
            
               <button style = "border:0px;background-color:#4285F4; margin-top:8%; 
                  height:35px; width:80%; margin-left:19%;" type = "submit" value = "Login" >
                  <strong>Upload</strong>
               </button>
               
            </center>
         </div>
         
      </form>
      
   </body>
</html>